.error_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    justify-content: center;
    height: 100vh;
    background-color: #041c2b;
  }
  .error_container img {
    width: 500px;
    height: auto;
  }
  .error_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
  }
  .error_details_404 {
    font-size: 10rem;
    font-weight: 600;
    color: white;
  }
  .error_details_content {
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
  }
  .error_details_button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #0278af;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
  }
  @media (max-width: 620px) {
    .error_container img {
      width: 300px;
      height: auto;
    }
    .error_details_404 {
      font-size: 6rem;
    }
    .error_details_content {
      font-size: 1rem;
    }
    .error_details_button {
      font-size: 1rem;
    }
  }
  